<% unless @post.errors.messages.empty? %>
<div class="alert alert-warning" id="error">
  <h4>You have some errors, son.</h4>
  <ul>
    <% @post.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="new-post col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
<%= form_for @post do |f| %>
  <div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" id="format_button" data-toggle="dropdown">Type: <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% Post::SUPPORTED_FORMATS.each do |format| %>
          <li><%= link_to format.humanize, '', id: format %></li>
        <% end %>
      </ul>
    </div>
    <%= f.text_field :content, class: 'form-control' %>
    <%= f.hidden_field :format %>
    <span class="input-group-btn">
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    </span>
  </div>
<% end %>
</div>
