<!DOCTYPE html>
<html>
  <head>
    <title>babblings.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Brooks Swinnerton, bswinnerton@gmail.com" />
    <meta name="Description" content="babblings of the internet, all in one place." />
    <meta property="og:title" content="babblings of the internet" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="babblings." />
    <meta property="og:description" content="babblings of the internet" />
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'babblings', root_path, class: 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="">About</a></li>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login</a>
               <ul class="dropdown-menu">
                 <li>Form here</li>
               </ul>
            </li>
            -->
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <script src="//code.jquery.com/jquery.js"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
